<div class="testimonials">
        <div class="container">
           <div class="testimonials-header
              text-center">
              <!-- <div class="testimonials-stars">
                 <img class="wow
                    zoomIn" src="assets/img/testimonials/ic-star.svg" alt="Star" style="visibility: visible; animation-name: zoomIn;">
                 <img class="wow
                    zoomIn" data-wow-duration="1s" data-wow-delay="0.3s" src="assets/img/testimonials/ic-star.svg" alt="Star" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: zoomIn;">
                 <img class="wow
                    zoomIn" data-wow-duration="1s" data-wow-delay="0.4s" src="assets/img/testimonials/ic-star.svg" alt="Star" style="visibility: visible; animation-duration: 1s; animation-delay: 0.4s; animation-name: zoomIn;">
                 <img class="wow
                    zoomIn" data-wow-duration="1s" data-wow-delay="0.5s" src="assets/img/testimonials/ic-star.svg" alt="Star" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: zoomIn;">
                 <img class="wow
                    zoomIn" data-wow-duration="1s" data-wow-delay="0.6s" src="assets/img/testimonials/ic-star.svg" alt="Star" style="visibility: visible; animation-duration: 1s; animation-delay: 0.6s; animation-name: zoomIn;">
              </div> -->
              <div class="testimonial-section-header">
                 <p class="section-heading
                    wow
                    fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    What clients say about us
                 </p>
                 <p class="section-subheading
                    wow
                    fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">We believe in going the extra mile and thus, we tend to not only over-deliver, but exceed expectations!
                 </p>
              </div>
           </div>
           <!--Video Testimonial-->
           <!-- <div class="video-testimonial
              wow
              fadeIn" style="visibility: visible; animation-name: fadeIn;"> -->
              <!-- <div id="speach-bubble" class="comment-wrapper
                 absolute-wrapper
                 show">
                   <div class="main-container
                    relative-wrapper
                    wow
                    fadeIn">
                       <img class="inverted-comma
                       wow
                       fadeIn" data-wow-duration="1s" data-wow-delay="0.8s"
                           src="assets/img/testimonials/ic-inverted-commas.svg" alt="Inverted
                       Comma">
                       <div class="video-comment">
                           <p>I really appreciate the dedication you guys have put in for our project & sacrificed a
                               long weekend for beta launch!
                           </p>
                       </div>
                   </div>
                 </div> -->
              <!-- <video poster="img/Danny.jpg" src="videos/sample.mp4" id="danny_video"></video> -->
              <!-- <iframe src="https://www.youtube.com/embed/1DTBlIiunhQ" allowtransparency="" allow="autoplay"></iframe> -->
              <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/0Ono368CC2Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           </div> -->
           <div class="testimonials-cards-wrapper
              row">
              <div class="owl-carousel owl-loaded owl-drag" id="review-slider">
                
                 <div class="owl-stage-outer">
                    <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1150px;">
                       <div class="owl-item active" style="width: 373.333px; margin-right: 10px;" *ngFor="let i of [1,2,3]">
                          <div class="bank-open-testimonial
                             item
                             wow
                             fadeIn" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeIn;">
                             <div class="company-logo">
                                <img src="../assets/img/testimonials/test3.svg" alt="Bank
                                   Open">
                             </div>
                             <div class="white-testionial-container">
                                <div class="testimonial-text">
                                   <p>
                                      We wanted to work with someone locally, but my co-founder insisted these guys are expert with startup and he was comfortable with Dezigndia than a nearby company. Finally, we made a decision, these guys help us a lot in all phases of the product development.
                                   </p>
                                </div>
                                <div class="testimonial-rating">
                                   <img class="wow
                                      fadeIn" data-wow-duration="1s" data-wow-delay="0.3s" src="assets/img/testimonials/ic-star.svg" alt="Star" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeIn;">
                                   <img class="wow
                                      fadeIn" data-wow-duration="1s" data-wow-delay="0.4s" src="assets/img/testimonials/ic-star.svg" alt="Star" style="visibility: visible; animation-duration: 1s; animation-delay: 0.4s; animation-name: fadeIn;">
                                   <img class="wow
                                      fadeIn" data-wow-duration="1s" data-wow-delay="0.5s" src="assets/img/testimonials/ic-star.svg" alt="Star" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeIn;">
                                   <img class="wow
                                      fadeIn" data-wow-duration="1s" data-wow-delay="0.6s" src="assets/img/testimonials/ic-star.svg" alt="Star" style="visibility: visible; animation-duration: 1s; animation-delay: 0.6s; animation-name: fadeIn;">
                                   <img class="wow
                                      fadeIn" data-wow-duration="1s" data-wow-delay="0.7s" src="assets/img/testimonials/ic-star.svg" alt="Star" style="visibility: visible; animation-duration: 1s; animation-delay: 0.7s; animation-name: fadeIn;">
                                </div>
                                <!-- <img class="container-pointer" src="assets/img/testimonials/arrow-point-to-down.svg" alt="Down
                                   Arrow"> -->
                                <svg class="container-pointer" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 404.308 404.309" style="enable-background:new 0 0 404.308 404.309;" xml:space="preserve">
                                   <g>
                                      <g>
                                         <path d="M0,101.08h404.308L202.151,303.229L0,101.08z" data-original="#000000" class="active-path" data-old_color="#ffffff" fill="#ffffff"></path>
                                      </g>
                                   </g>
                                </svg>
                             </div>
                             <!--Testimonial User-->
                             <div class="testimonial-user">
                                <!-- <div class="profile-img">
                                   <img src="assets/img/testimonials/default-profile-image.png" alt="Default
                                   Image">
                                   </div> -->
                                <p class="profile-name
                                   text-center">
                                   Mabel Chacko
                                </p>
                                <p class="profile-designation
                                   text-center">
                                   Founder
                                </p>
                             </div>
                          </div>
                       </div>
                      
                    </div>
                 </div>
                 <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div>
                 <div class="owl-dots disabled"><button role="button" class="owl-dot active"><span></span></button></div>
              </div>
           </div>
        </div>
     </div>