<div class="portfolio
         mt-100">
        <div class="section-header">
            <p class="section-heading
               wow
               fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                Product Journeys That Are Close to Our Heart
            </p>
            <p class="section-subheading
               wow
               fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">Samsung. Tata Steel. BYJU’s. It could be you next.
            </p>
        </div>
        <!--Custom Carousel for Portfolio: START-->
        <div class="portfolio
            custom-carousel
            wow
            fadeIn" data-wow-duration="1s" data-wow-delay="0.4s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.4s; animation-name: fadeIn;">
            <div class="carosuel-container
               row
               no-gutters">
                <!--Carousel Items-->
                <div class="carousel-items
                  col-lg-12
                  col-md-12
                  col-sm-12">
                    <div id="case-studies-carousel" class="owl-carousel owl-loaded owl-drag">
                        <!--Item 1-->
                        

                        <!--Item 2-->
                        

                        <!--Item 3-->
                        <!-- <div class="item">
                            <div class="portfolio-item">
                                <div class="portfolio-block
                                        thrillopolia-block">
                                    <div class="card_wrapper">
                                        <div class="content">
                                            <h3 class="heading
                                                pl-40">
                                                Thrillophilia
                                            </h3>
                                            <h4 class="sub-heading
                                                pl-40">
                                                World’s Best Travel Experiences.
                                            </h4>
                                            <ul class="item_list
                                                pl-40">
                                                <li>Explore 10000+ travel experiences in 25+ countries
                                                </li>
                                                <li>Connecting with 5000+ suppliers globally
                                                </li>
                                                <li>100,000+ Downloads
                                                </li>
                                                <li>Received best UI Awards
                                                </li>
                                            </ul>
                                            <div class="view_more
                                                pl-40 display-none">
                                            </div>
                                        </div>
                                        <div class="content_image
                                             screenshot">
                                            <div class="image_wrapper">
                                                <img src="img/portfolio/thrillophilia.png" alt="Bank
                                                   Open" class="display-mobile-none">
                                                <img src="img/portfolio/mobile-thrillophilia.png" alt="Bank
                                                   Open" class="desktop-slider-none">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <!--Item 4-->
                        

                    <div class="owl-stage-outer"><div class="owl-stage" style="transition: all 0s linear 0s; width: 7020px; transform: translate3d(-1985px, 0px, 0px);"><div class="owl-item cloned" style="width: auto; margin-right: 50px;"><div class="portfolio-item">
                            <div class="portfolio-block
                               bank_open_block">
                                <div class="card_wrapper">
                                    <!--Content-->
                                    <div class="content">
                                        <h2 class="heading
                                        pl-40 ">
                                            BankOpen
                                        </h2>
                                        <h4 class="sub-heading
                                        pl-40">
                                            Get the power of a modern digital payment account.
                                        </h4>
                                        <ul class="item_list
                                        pl-40">
                                            <li>Asia's first neo Bank, $37.4M Investment raised, Emerging fintech startup.
                                            </li>
                                            <li>Back-end support to YES Bank &amp; ICICI Bank
                                            </li>
                                            <li>Funding Raised
                                            </li>
                                        </ul>
                                        <div class="view_more
                                        pl-40 display-none">
                                            <!-- <span>VIEW
                                                    PROJECT
                                                    <i class="fa
                                           fa-long-arrow-right" aria-hidden="true"></i></span> -->
                                        </div>
                                    </div>
                                    <!--Image-->
                                    <div class="content_image
                                     screenshot">
                                        <div class="image_wrapper">
                                            <img src="assets/img/portfolio/bank-open.png" alt="Bank
                                           Open" class="display-mobile-none" style="opacity: 1;">
                                            <img src="assets/img/portfolio/mobile-bank-open.png" alt="mobile bank open" class="desktop-slider-none" style="opacity: 1;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: auto; margin-right: 50px;"><div class="portfolio-item">
                            <div class="portfolio-block
                           mtjf-block">
                                <div class="card_wrapper">
                                    <!--Content-->
                                    <div class="content">
                                        <h3 class="heading
                                    pl-40">
                                            MTJF
                                        </h3>
                                        <h4 class="sub-heading
                                    pl-40">
                                            More Than Just Friends Confess fearlessly &amp; take your friendship to the next level
                                        </h4>
                                        <ul class="item_list
                                    pl-40">
                                            <li>45,000 users in 35 days of launch
                                            </li>
                                            <li>Reached Top 10 Dating Apps on Product Hunt
                                            </li>
                                            <li>Featured by Apple India in top 10 apps
                                            </li>
                                            <li>Selected in Facebook Start, Apple
                                            </li>
                                        </ul>
                                        <div class="view_more
                                    pl-40 display-none">
                                            <!-- <span>VIEW
                                                PROJECT
                                                <i class="fa
                                       fa-long-arrow-right" aria-hidden="true"></i></span> -->
                                        </div>
                                    </div>
                                    <!--Image-->
                                    <div class="content_image
                                 screenshot">
                                        <div class="image_wrapper">
                                            <img src="assets/img/portfolio/MTJF.png" alt="Bank
                                       Open" class="display-mobile-none" style="opacity: 1;">
                                            <img src="assets/img/portfolio/mobile-mtjf-2.png" alt="MTJF" class="desktop-slider-none" style="opacity: 1;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: auto; margin-right: 50px;"><div class="item">
                            <div class="portfolio-item">
                                <div class="portfolio-block
                                       frank-green-block">
                                    <div class="card_wrapper">
                                        <!--Content-->
                                        <div class="content">
                                            <h3 class="heading
                                                pl-40">
                                                Frank Green
                                            </h3>
                                            <h4 class="sub-heading
                                                pl-40">
                                                AUS famous reusable product ecommerce
                                            </h4>
                                            <ul class="item_list
                                                pl-40">
                                                <li>E-commerce
                                                </li>
                                                <li>Winner of Good Design Award
                                                </li>
                                                <li>Increased their sales from 10,000 to 90,000 orders per week
                                                </li>
                                                <li>Innovation awards winner in 2018
                                                </li>
                                            </ul>
                                            <div class="view_more
                                                pl-40 display-none">
                                                <!-- <span>VIEW
                                                            PROJECT
                                                            <i class="fa
                                                   fa-long-arrow-right" aria-hidden="true"></i></span> -->
                                            </div>
                                        </div>
                                        <!--Image-->
                                        <div class="content_image
                                             screenshot">
                                            <div class="image_wrapper">
                                                <img src="assets/img/portfolio/Frankgreen.png" alt="Bank
                                                   Open" class="display-mobile-none" style="opacity: 1;">
                                                <img src="assets/img/portfolio/mobile-frankgreen.png" alt="Bank
                                                   Open" class="desktop-slider-none" style="opacity: 1;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div></div><div class="owl-item active center" style="width: auto; margin-right: 50px;"><div class="portfolio-item">
                            <div class="portfolio-block
                               bank_open_block">
                                <div class="card_wrapper">
                                    <!--Content-->
                                    <div class="content">
                                        <h2 class="heading
                                        pl-40 ">
                                            BankOpen
                                        </h2>
                                        <h4 class="sub-heading
                                        pl-40">
                                            Get the power of a modern digital payment account.
                                        </h4>
                                        <ul class="item_list
                                        pl-40">
                                            <li>Asia's first neo Bank, $37.4M Investment raised, Emerging fintech startup.
                                            </li>
                                            <li>Back-end support to YES Bank &amp; ICICI Bank
                                            </li>
                                            <li>Funding Raised
                                            </li>
                                        </ul>
                                        <div class="view_more
                                        pl-40 display-none">
                                            <!-- <span>VIEW
                                                    PROJECT
                                                    <i class="fa
                                           fa-long-arrow-right" aria-hidden="true"></i></span> -->
                                        </div>
                                    </div>
                                    <!--Image-->
                                    <div class="content_image
                                     screenshot">
                                        <div class="image_wrapper">
                                            <img src="assets/img/portfolio/bank-open.png" alt="Bank
                                           Open" class="display-mobile-none" style="opacity: 1;">
                                            <img src="assets/img/portfolio/mobile-bank-open.png" alt="mobile bank open" class="desktop-slider-none" style="opacity: 1;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div></div><div class="owl-item active" style="width: auto; margin-right: 50px;"><div class="portfolio-item">
                            <div class="portfolio-block
                           mtjf-block">
                                <div class="card_wrapper">
                                    <!--Content-->
                                    <div class="content">
                                        <h3 class="heading
                                    pl-40">
                                            MTJF
                                        </h3>
                                        <h4 class="sub-heading
                                    pl-40">
                                            More Than Just Friends Confess fearlessly &amp; take your friendship to the next level
                                        </h4>
                                        <ul class="item_list
                                    pl-40">
                                            <li>45,000 users in 35 days of launch
                                            </li>
                                            <li>Reached Top 10 Dating Apps on Product Hunt
                                            </li>
                                            <li>Featured by Apple India in top 10 apps
                                            </li>
                                            <li>Selected in Facebook Start, Apple
                                            </li>
                                        </ul>
                                        <div class="view_more
                                    pl-40 display-none">
                                            <!-- <span>VIEW
                                                PROJECT
                                                <i class="fa
                                       fa-long-arrow-right" aria-hidden="true"></i></span> -->
                                        </div>
                                    </div>
                                    <!--Image-->
                                    <div class="content_image
                                 screenshot">
                                        <div class="image_wrapper">
                                            <img src="assets/img/portfolio/MTJF.png" alt="Bank
                                       Open" class="display-mobile-none" style="opacity: 1;">
                                            <img src="assets/img/portfolio/mobile-mtjf-2.png" alt="MTJF" class="desktop-slider-none" style="opacity: 1;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div></div><div class="owl-item" style="width: auto; margin-right: 50px;"><div class="item">
                            <div class="portfolio-item">
                                <div class="portfolio-block
                                       frank-green-block">
                                    <div class="card_wrapper">
                                        <!--Content-->
                                        <div class="content">
                                            <h3 class="heading
                                                pl-40">
                                                Frank Green
                                            </h3>
                                            <h4 class="sub-heading
                                                pl-40">
                                                AUS famous reusable product ecommerce
                                            </h4>
                                            <ul class="item_list
                                                pl-40">
                                                <li>E-commerce
                                                </li>
                                                <li>Winner of Good Design Award
                                                </li>
                                                <li>Increased their sales from 10,000 to 90,000 orders per week
                                                </li>
                                                <li>Innovation awards winner in 2018
                                                </li>
                                            </ul>
                                            <div class="view_more
                                                pl-40 display-none">
                                                <!-- <span>VIEW
                                                            PROJECT
                                                            <i class="fa
                                                   fa-long-arrow-right" aria-hidden="true"></i></span> -->
                                            </div>
                                        </div>
                                        <!--Image-->
                                        <div class="content_image
                                             screenshot">
                                            <div class="image_wrapper">
                                                <img src="assets/img/portfolio/Frankgreen.png" alt="Bank
                                                   Open" class="display-mobile-none" style="opacity: 1;">
                                                <img src="assets/img/portfolio/mobile-frankgreen.png" alt="Bank
                                                   Open" class="desktop-slider-none" style="opacity: 1;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: auto; margin-right: 50px;"><div class="portfolio-item">
                            <div class="portfolio-block
                               bank_open_block">
                                <div class="card_wrapper">
                                    <!--Content-->
                                    <div class="content">
                                        <h2 class="heading
                                        pl-40 ">
                                            BankOpen
                                        </h2>
                                        <h4 class="sub-heading
                                        pl-40">
                                            Get the power of a modern digital payment account.
                                        </h4>
                                        <ul class="item_list
                                        pl-40">
                                            <li>Asia's first neo Bank, $37.4M Investment raised, Emerging fintech startup.
                                            </li>
                                            <li>Back-end support to YES Bank &amp; ICICI Bank
                                            </li>
                                            <li>Funding Raised
                                            </li>
                                        </ul>
                                        <div class="view_more
                                        pl-40 display-none">
                                            <!-- <span>VIEW
                                                    PROJECT
                                                    <i class="fa
                                           fa-long-arrow-right" aria-hidden="true"></i></span> -->
                                        </div>
                                    </div>
                                    <!--Image-->
                                    <div class="content_image
                                     screenshot">
                                        <div class="image_wrapper">
                                            <img src="assets/img/portfolio/bank-open.png" alt="Bank
                                           Open" class="display-mobile-none" style="opacity: 1;">
                                            <img src="assets/img/portfolio/mobile-bank-open.png" alt="mobile bank open" class="desktop-slider-none" style="opacity: 1;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: auto; margin-right: 50px;"><div class="portfolio-item">
                            <div class="portfolio-block
                           mtjf-block">
                                <div class="card_wrapper">
                                    <!--Content-->
                                    <div class="content">
                                        <h3 class="heading
                                    pl-40">
                                            MTJF
                                        </h3>
                                        <h4 class="sub-heading
                                    pl-40">
                                            More Than Just Friends Confess fearlessly &amp; take your friendship to the next level
                                        </h4>
                                        <ul class="item_list
                                    pl-40">
                                            <li>45,000 users in 35 days of launch
                                            </li>
                                            <li>Reached Top 10 Dating Apps on Product Hunt
                                            </li>
                                            <li>Featured by Apple India in top 10 apps
                                            </li>
                                            <li>Selected in Facebook Start, Apple
                                            </li>
                                        </ul>
                                        <div class="view_more
                                    pl-40 display-none">
                                            <!-- <span>VIEW
                                                PROJECT
                                                <i class="fa
                                       fa-long-arrow-right" aria-hidden="true"></i></span> -->
                                        </div>
                                    </div>
                                    <!--Image-->
                                    <div class="content_image
                                 screenshot">
                                        <div class="image_wrapper">
                                            <img src="assets/img/portfolio/MTJF.png" alt="Bank
                                       Open" class="display-mobile-none" style="opacity: 1;">
                                            <img src="assets/img/portfolio/mobile-mtjf-2.png" alt="MTJF" class="desktop-slider-none" style="opacity: 1;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: auto; margin-right: 50px;"><div class="item">
                            <div class="portfolio-item">
                                <div class="portfolio-block
                                       frank-green-block">
                                    <div class="card_wrapper">
                                        <!--Content-->
                                        <div class="content">
                                            <h3 class="heading
                                                pl-40">
                                                Frank Green
                                            </h3>
                                            <h4 class="sub-heading
                                                pl-40">
                                                AUS famous reusable product ecommerce
                                            </h4>
                                            <ul class="item_list
                                                pl-40">
                                                <li>E-commerce
                                                </li>
                                                <li>Winner of Good Design Award
                                                </li>
                                                <li>Increased their sales from 10,000 to 90,000 orders per week
                                                </li>
                                                <li>Innovation awards winner in 2018
                                                </li>
                                            </ul>
                                            <div class="view_more
                                                pl-40 display-none">
                                                <!-- <span>VIEW
                                                            PROJECT
                                                            <i class="fa
                                                   fa-long-arrow-right" aria-hidden="true"></i></span> -->
                                            </div>
                                        </div>
                                        <!--Image-->
                                        <div class="content_image
                                             screenshot">
                                            <div class="image_wrapper">
                                                <img src="assets/img/portfolio/Frankgreen.png" alt="Bank
                                                   Open" class="display-mobile-none" style="opacity: 1;">
                                                <img src="assets/img/portfolio/mobile-frankgreen.png" alt="Bank
                                                   Open" class="desktop-slider-none" style="opacity: 1;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots disabled"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
                </div>
                <!--Carousel Navigation Buttons-->
                <div class="carousel-navigation
                  col-lg-12
                  col-md-12
                  col-sm-12">
                    <!--Left Nav-->
                    <div class="nav-left">
                        <div class="item-number">
                            <span id="counter">1/3</span>
                        </div>
                        <div class="nav-buttons
                        owl-nav">
                            <img class="nav-btn
                           previous-btn" src="assets/img/portfolio/ic-ar-circle-left-new.svg" alt="Previous" id="previous-btn">
                            <img id="next-btn" class="nav-btn
                           next-btn" src="assets/img/portfolio/ic-ar-circle-right-new.svg" alt="Next">
                        </div>
                    </div>
                    <div class="right-nav">
                        <a href="case-studies.html" class="card-link">
                            <span class="mobile-solid-blue-btn mobile-solid-btn">VIEW
                                    ALL
                                    PROJECTS
                                    <!-- <img class="arrow-right display-mobile-none" src="img/portfolio/ic-long-arrow.svg" alt="View
                                    All
                                    Projects"> -->
                                    <img class="arrow-right display-mobile-none" src="assets/img/portfolio/ic-long-arrow-new.svg" alt="View
                                    All
                                    Projects">
                                </span>
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <!--Custom Carousel for Portfolio: END-->
    </div>