<div class="gradient-wrapper home-header">
        <section class="header home-header">
           <div class="row">
              <div class="content-wrapper-relative
                 header-content col-lg-12">
                 <div class="header-text padding-top-50 col-lg-7" style="
                    padding: 0px 0px 0px 150px;
                    ">
                    <p style="font-size: 30px;">We're awesome @ <strong class="_deztite"></strong></p>
                    <p class="header-heading animated fadeInDown slow ft-600"><b style="font-size: 38px;">Building Dreams for 100+ Startups</b><br> Best Digital Innovation &amp; Experience <br></p>
                    <p class="header-heading animated fadeInDown slow ft-600 _dezcursive"><b>We craft beautiful, scalable products</b><br> with loads of Coffee, Beer &amp; Creativity <br>for better Tomorrow! <br></p>
                    <a class="no-link-style" href="case-studies.html"><button class="view-case-studies-btn
                       hollow-white-btn
                       button-shadow animated
                       fadeInDown slow">View All Case Studies </button></a>
                 </div>
                 <div class="symbols-pulse active">
                    <div class="pulse-x"></div>
                 </div>
              </div>
           </div>
        </section>
     </div>