<div class="dotted-bg-wrapper">
        <div class="container">
            <!--White Box-->
            <div class="white-box animated fadeInUp display-none">
                <div class="row">
                    <div class="right-summary col-lg-12">
                        <div class="row">
                            <!--Hospital and Healthcare-->
                            <div class="mb-10
                           flex-wrapper col-lg-4
                           wow fadeIn" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeIn;">
                                <div class="summary-img">
                                    <i class="fa fa-gears fa-3x" style="color: #9b2d75"></i>
                                </div>
                                <div class="summary-text">
                                    <p>Software &amp; Services
                                    </p>
                                    <p>30+ eCommerce solutions, 12 fintech top-funded products.
                                    </p>
                                </div>
                            </div>
                            <!--Food and Resturant-->
                            <div class="mb-10
                           flex-wrapper col-lg-4
                           wow fadeIn" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeIn;">
                                <div class="summary-img">
                                    <i class="fa fa-shopping-cart fa-3x" style="color: #9b2d75"></i>
                                </div>
                                <div class="summary-text">
                                    <p>eCommerce &amp; Logistics</p>
                                    <p>Order Management, Delivery, Payments, Android &amp; iOS App.
                                    </p>
                                </div>
                            </div>
                            <!--Travel and Hospitality-->
                            <div class="mb-10 flex-wrapper
                           col-lg-4 wow fadeIn" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeIn;">
                                <div class="summary-img">
                                    <i class="fa fa-heartbeat fa-3x" style="color: #9b2d75"></i>
                                </div>
                                <div class="summary-text">
                                    <p>Fitness &amp; Healthcare
                                    </p>
                                    <p>Marketplace, Reviews, Chat, Reports, Multi-Language, Multi-Currency
                                    </p>
                                </div>
                            </div>
                            <div class="mt-20  flex-wrapper
                           col-lg-4 wow fadeIn" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeIn;">
                                <div class="summary-img">
                                    <i class="fa fa-bank fa-3x" style="color: #9b2d75"></i>
                                </div>
                                <div class="summary-text">
                                    <p>Banking &amp; Finance
                                    </p>
                                    <p>Marketplace, Reviews, Chat, Reports, Multi-Language, Multi-Currency
                                    </p>
                                </div>
                            </div>
                            <!--Education and Learning-->
                            <div class="mt-20 flex-wrapper
                           col-lg-4 wow fadeIn" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeIn;">
                                <div class="summary-img">
                                    <i class="fa fa-graduation-cap fa-3x" style="color: #9b2d75"></i>
                                </div>
                                <div class="summary-text">
                                    <p>Education &amp; eLearning
                                    </p>
                                    <p>Test Management, Course Management, Subscriptions, Forum.
                                    </p>
                                </div>
                            </div>

                            <div class="mt-20  flex-wrapper
                           col-lg-4 wow fadeIn" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeIn;">
                                <div class="summary-img">
                                    <!-- <img src="assets/img/service/Education-new.svg" alt="Hospital &amp;
                                 Healthcare"> -->
                                <i class="fa fa-coffee fa-3x" style="color: #9b2d75"></i> 
                                </div>
                                <div class="summary-text">
                                    <p>Restaurants &amp; Hotels
                                    </p>
                                    <p>Test Management, Course Management, Subscriptions, Forum.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="services-header">
            <p class="section-heading wow
                     fadeInUp">We Help Transform Your Idea, into a Minimum Viable Product (MVP)
            </p>
            </div>
            <div class="video-testimonial
              wow
              fadeIn" style="visibility: visible; animation-name: fadeIn; margin-top: -10px;">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/0Ono368CC2Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           </div>
            <!--Service-->
            <div class="services mt-60">
                <div class="services-header">
                    <p class="section-heading wow
                     fadeInUp">We’re experts in crafting products that engage your audience, sets your brand apart and, helps you achieve your goals.
                    </p>
                    <p class="section-subheading wow
                     fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">We develop (what people see and how they use it) for websites and applications.
                        <span class="line_break"><br></span> We focus on making sure these are both useful and easy to use.
                    </p>
                </div>
                <div class="services-cards-wrapper">
                    <div class="services-row-1 row">
                        <!--Card 1: UI & UX Design-->
                       <box-component [data]="serviceList"></box-component>
                    </div>
                </div>
            </div>
        </div>
    </div>