.w-200 {
    width: 200px !important;
}
ul.sub-dropdown.sublevel-menu {
    left: 12em;
}

ul.sub-dropdown.sublevel-menu::after {
    position: absolute;
    left: -17%;
    top: 20px;
    width: 0;
    height: 0;
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
    transform: rotate(-90deg);
    display: none;
}