<div class="gradient-wrapper home-header">
<!--Navbar: START-->
  <nav id="navbar-main" class="navbar fixed-top navbar-expand-lg animated">
      <div class="container">
          <!--Navbar Brand Image-->
          <a class="navbar-brand" href="/">
            <img src="assets/img/logo/dezWhi.png" class="img-responsive _logo" *ngIf="_hide">
            <img src="assets/img/logo/DezPurpleNn.png" class="img-responsive _logo1" *ngIf="!_hide">
          </a>
          <button class="navbar-toggler collapsed" type="button" id="navbar-toggle-button" (click)="toggleMenu()">
                  <span class="icon-bar top-bar"></span>
                  <span class="icon-bar middle-bar"></span>
                  <span class="icon-bar bottom-bar"></span>
              </button>
          <div class="collapse navbar-collapse mCustomScrollbar _mCS_1 mCS-autoHide mCS_no_scrollbar" id="navbarNav"><div id="mCSB_1" class="mCustomScrollBox mCS-minimal mCSB_vertical mCSB_outside" tabindex="0"><div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" dir="ltr">
              <ul class="navbar-nav ml-auto">
                <ng-container *ngFor="let menu of menuItems">
                    <li class="nav-item active" *ngIf="menu.type=='link'">
                        <a class="nav-link" [routerLink]="[menu.path]" *ngIf= "menu.name != 'contact us'">{{menu.name | uppercase}}
                            <span class="sr-only">(current)</span></a>
                        <a class="nav-link" [routerLink]="[menu.path]" *ngIf= "menu?.name == 'contact us'" data-toggle="modal" data-target="#exampleModal">{{menu.name | uppercase}}
                        <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active dropdown-link" *ngIf="menu.type=='sub'">
                        <a class="nav-link">{{menu.name | uppercase}}<i class="fa fa-angle-down" aria-hidden="true"></i></a> 
                        <div class="mega-menu mega-menu2 mega sub-dropdown">
                            <div class="row">
                            <div class="hirecol">
                            <div class="navheading">
                            <span class="mobile-app-dev">Mobile Development</span>
                            </div>
                            <ul>
                           
                            <li class="android-icon"><a [routerLink]="['/service/android-developement']" title="Android">Android Development</a></li>
                            <li class="flutter-icon"><a [routerLink]="['/service/android-developement']" title="Flutter">IOS Development</a></li>
                            <li class="ios-icon"><a [routerLink]="['/service/android-developement']" title="IOS">Flutter Development</a></li>
                            <li class="mobile-app"><a [routerLink]="['/service/android-developement']" title="Mobile App">Ionic Development</a></li>
                            <li class="mobile-app"><a [routerLink]="['/service/android-developement']" title="Mobile App">Hybrid Development</a></li>
                            <li class="mobile-app"><a [routerLink]="['/service/android-developement']" title="Mobile App">IOT Development</a></li>
                            <li class="reactnative-menu"><a [routerLink]="['/service/android-developement']" title="React Native">React Native Development</a></li>
                            
                            </ul>
                            </div>
                            <div class="hirecol">
                            <div class="navheading">
                            <span class="web-dev">Web Development</span>
                            </div>
                            <ul>
                            <li class="angularjs"><a [routerLink]="['/service/android-developement']" title="angularjs">Angular Development</a></li>
                            <li class="nodejs"><a [routerLink]="['/service/android-developement']" title="Node JS">NodeJS Development</a></li>
                            <li class="reactjs"><a [routerLink]="['/service/android-developement']" title="ReactJS">ReactJS Development</a></li>
                            <li class="php-menu"><a [routerLink]="['/service/android-developement']" title="PHP">PHP Development</a></li>
                            <li class="python-menu"><a [routerLink]="['/service/android-developement']" title="Python">Python Development</a></li>
                            <li class="mean-stack"><a [routerLink]="['/service/android-developement']" title="HTML CSS">HTML/CSS Development</a></li>
                            <li class="wordpress"><a [routerLink]="['/service/android-developement']" title="Wordpress">Wordpress  Development</a></li>
                            </ul>
                            
                            
                            </div>
                            <div class="hirecol">
                            <div class="navheading">
                            <span class="other-service">Cloud Services</span>
                            </div>
                            <ul>
                            
                            <li class="data-science"><a [routerLink]="['/service/android-developement']" title=" Data Scientists">AWS Integration</a></li>
                            <li class="machine-learning"><a [routerLink]="['/service/android-developement']" title="Machine Learning">Machine Learning</a></li>
                            <li class="machine-learning"><a [routerLink]="['/service/android-developement']" title="Machine Learning">Artificial Intelligence</a></li>
                            <li class="go-lang"><a [routerLink]="['/service/android-developement']" title=" Go Lang">ChatBot Development</a></li>
                            <li class="devops"><a [routerLink]="['/service/android-developement']" title=" devops">Devops Implementation</a></li>
                            <li class="full-stack"><a [routerLink]="['/service/android-developement']" title=" serverless">Serverless Implementation</a></li>
                            <li class="machine-learning"><a [routerLink]="['/service/android-developement']" title="Machine Learning">BlockChain Development</a></li>
                        </ul>
                            </div>

                            <div class="hirecol">
                            <div class="navheading">
                            <span class="other-service">Other Development</span>
                            </div>
                            <ul>
                            
                            <li class="machine-learning"><a [routerLink]="['/service/android-developement']" title="Machine Learning">ERP Systems</a></li>
                            <li class="go-lang"><a [routerLink]="['/service/android-developement']" title=" Go Lang">eLearning Portals</a></li>
                            <li class="data-science"><a [routerLink]="['/service/android-developement']" title=" Data Scientists">  eCommerce Portals</a></li>
                            <li class="devops"><a [routerLink]="['/service/android-developement']" title=" devops">Management Systems</a></li>
                            <li class="full-stack"><a [routerLink]="['/service/android-developement']" title=" Full Stack">Process Automation</a></li>
                            <li class="mean-stack"><a [routerLink]="['/service/android-developement']" title="Full Stack">Full Stack Development</a></li>
                            <li class="mean-stack"><a [routerLink]="['/service/android-developement']" title="Mean Stack">MEAN Stack Development</a></li>
                        </ul>
                            </div>

                            <div class="hirecol">
                            <div class="navheading">
                            <span class="other-service">Brand Strategy</span>
                            </div>
                            <ul>
                            
                            <li class="data-science"><a [routerLink]="['/service/android-developement']" title=" Data Scientists">UX Design</a></li>
                            <li class="machine-learning"><a [routerLink]="['/service/android-developement']" title="Machine Learning">User Research</a></li>
                            <li class="machine-learning"><a [routerLink]="['/service/android-developement']" title="Machine Learning">Growth Hacking</a></li>
                            <li class="go-lang"><a [routerLink]="['/service/android-developement']" title=" Go Lang">Product Strategy</a></li>
                            <li class="full-stack"><a [routerLink]="['/service/android-developement']" title=" Full Stack">Digital Marketing</a></li>
                            <li class="machine-learning"><a [routerLink]="['/service/android-developement']" title="Machine Learning">Competitive Analysis</a></li>
                            <li class="devops"><a [routerLink]="['/service/android-developement']" title=" devops">Business Consultancy</a></li>
                        </ul>
                            </div>
                            
                           
                            </div>
                           
                            </div>
                    </li>
                </ng-container>
                  <li>
                      <button  class="btn button start-a-project-button drift-open-chat">Talk to an Expert</button>
                  </li>
              </ul>
          </div></div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal mCSB_scrollTools_vertical"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div>
      </div>
  </nav>
  <section class="header home-header" id="_dzheader">
        <div class="row">
           <div class="content-wrapper-relative
              header-content col-lg-12">
              <div class="header-text padding-top-50 col-lg-7 _banner">
                 <p class="header-heading animated fadeInDown slow ft-600"><b>Building Dreams for 100+ Startups</b><br> Best Digital Innovation &amp; Experience <br></p>
                 <p class="header-heading animated fadeInDown slow ft-600 _dezcursive"><b>We craft beautiful, scalable products</b><br> with loads of Coffee, Beer &amp; Creativity <br>for better Tomorrow! <br></p>
                 <p style="font-size: 30px;">We're awesome @ <strong class="_deztite"></strong></p>
                 <a class="no-link-style" href="case-studies.html"><button class="view-case-studies-btn
                    hollow-white-btn
                    button-shadow animated
                    fadeInDown slow">View All Case Studies </button></a>
              </div>

              <div class="header-text col-lg-7 _banner _bannertwo">
                    <p class="header-heading animated fadeInDown slow ft-600 _dezcursive"><b>We craft beautiful, scalable products</b><br> with loads of Coffee, Beer &amp; Creativity <br>for better Tomorrow! <br></p>
                 </div>

              <div class="symbols-pulse active">
                 <div class="pulse-x"></div>
              </div>
           </div>
        </div>
     </section>
  </div>
  <!--Navbar: END-->