._logo {
    top: 16px;
    left: 33px;
    width: 68px;
    height: 68px;
    background: transparent url('/assets/img/logo/dezWhi.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
._logo1 {
    top: 16px;
    left: 33px;
    width: 68px;
    height: 68px;
    background: transparent url('/assets/img/logo/DezPurpleNn.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

._dezfooter {
    background: #451d6a;
}

.eb-footer li a {
    color: #fff;
}

.footer-list li {
    color: #fff;
}

._deztite {
    text-transform: uppercase;
    text-decoration: underline;
    font-family: unset;
    font-size: 34px;
}

.mt-20 {
    margin-top: 20px; 
}

._dezcursive {
    font-size: 26px;
    font-family: cursive;
    word-spacing: 8px;
}

.typed-cursor {
    font-size: 34px;
}

._dezexp {
    float: right;
}

._dez34 {
    margin: -40px auto 40px auto;
}

.php_build_projects {
    /* margin-top: 60px; */
}

.quotebtn {
    background-color: #bc158a;
    padding: 15px 50px;
    border: 1px solid #bc158a;
    border-radius: 100px;
    box-shadow: 0 0 15px #e4dfdf;
    font-size: 16px;
    font-family: "Poppins-ExtraBold";
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: #fff!important;
}

@media (min-width: 900px) {
    ._banner {
        padding: 0px 0px 0px 150px;
    }
}

a,
a:link,
a:hover,
a:visited,
a:active,
a:focus{
    background-color: transparent !important;
}
