<div id="experience-Dezigndia">
        <!--Blue Strip Header-->
        <div class="experience-header-wrapper">
            <p class="section-heading
               wow
               fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                About Dezigndia
            </p>
            <p class="section-subheading
               wow
               fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">We're smart and we like it that way. It gives us the ability to deliver projects quickly, and dedicate extraordinary attention to your assignment. We're smart and we like it that way. It gives us the ability to deliver projects quickly, and dedicate extraordinary attention to your assignment. We're smart and we like it that way. It gives us the ability to deliver projects quickly, and dedicate extraordinary attention to your assignment.
            </p>
        </div>
        <div class="experience-content
            container">
            <div class="main-head
                     mb-30">
                        <h1 class="para-main-head
                        wow
                        fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                            More than 9 years experience in the IT industry
                        </h1>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-mobile-center _dezexp">
                    <div class="col-lg-6 col-md-12 col-sm-12 text-mobile-center _dezexp">
                
                    <div class="experience-section
                     mb-30">
                        <h4 class="para-head
                        wow
                        fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                            First choice of CEOs &amp; Managers
                        </h4>
                        <p class="para-text
                        wow
                        fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                            90% of our customers are fast movers, We are flexible, quick to support and quality is one the best in India. In the years 2018 and 2019, the only service company whose product got selected in Y-Combinator.
                        </p>
                    </div>
                    <div class="experience-section
                     mb-30">
                        <h4 class="para-head
                        wow
                        fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                            We design beautiful &amp; Intuitive products
                        </h4>
                        <p class="para-text
                        wow
                        fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                            Making an app look beautiful takes a lot of work. But making that beautiful app intuitive and work faster is an art. We strongly believe that a seamless user-experience is an important element of design. We deliver an intelligent user experience which
                            can truly help you grow your business.
                        </p>
                    </div>

                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 text-mobile-center">
                        <div class="experience-section
                        mb-30">
                            <h4 class="para-head
                            wow
                            fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                Nearly-zero downtime
                            </h4>
                            <p class="para-text
                            wow
                            fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                All future upgrades and maintenance procedures will take place seamlessly without any downtime whatsoever.
                            </p>
                        </div>
                        <div class="experience-section
                        mb-30">
                            <h4 class="para-head
                            wow
                            fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                Faster feature development
                            </h4>
                            <p class="para-text
                            wow
                            fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                Our modular architecture allows fast development and you can expect to see more features more frequently. You say it, we’ll build it!
                            </p>
                        </div>
                        <div class="experience-section
                                            mb-30">
                            <h4 class="para-head
                                                wow
                                                fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                Infinitely scalable
                            </h4>
                            <p class="para-text
                                                wow
                                                fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                Our system can handle any number of users now and has the potential to grow with you. If your business becomes an overnight success, Tech will still not have an issue handling your users.
                            </p>
                        </div>

                    </div>  
                </div>
            </div>
        </div>
    </div>