<section class="top_companies">
    <div class="container">
        <div class="inner-sec">
            <h1>World's most widely used applications which have been built using <u>{{stackname}}</u></h1>
                <companybox-component [companybox]="companybox"></companybox-component>
        </div>
    </div>
</section>

<!-- <section class="heading single-line">
    <div class="container _dez34">
        <p class="section-heading wow fadeInUp">World's most widely used applications which have been using <u>{{stackname}}</u>
        </p>
    </div>
    <div class="container">
        <div class="services-row-1 ">
            <box-component [data]="data"></box-component>
        </div>
    </div>
</section> -->


<section class="left-blue-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 left-blue left-blue2">
                <h2>What kind of apps suits {{stackname}} Development?</h2>
                <p>{{stackname}} is the most successful Operating System today with a market share of about 75.4%. Services like OTT are booming the entertainment industry. Whereas, ecommerce application, food ordering apps, car or bike pulling applications made dependency on a day to day life. Out of 100 smartphones, 65 are working on {{stackname}} OS. That’s why {{stackname}} Development has set an enormous market. {{stackname}} app Developers of Dezigndia are experts in creating user-friendly {{stackname}} apps.
                </p>
            </div>
        </div>
    </div>
</section>
    
    
<app-timeline [timeline]="timeline" [stackname]="stackname"></app-timeline>


<!-- <section class="quote-btn-sec">
    <div class="container">
    <h1> Do you also want to build your Mobile app in {{stackname}}?</h1>
    <a class="quotebtn drift-open-chat" title="Get a Quote Now ">Get a Quote Now </a>
    </div>
</section> -->


<section class="php_build_projects">
    <div class="page-header">
        <h2>Products that we have recently crafted with Love</h2>
    </div>
    <div class="container">
            <card-box-component [portfolia]="portfolia"></card-box-component>
    </div>
</section>
    
<section class="services_section">
        <div class="page-header">
            <h2>Why You should work with Dezigndia</h2>
        </div>
        <div class="container">
            <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
                <div class="full-section row">
                    <div class="col-sm-2 col-xs-2">
                        <i class="fa fa-rocket fa-3x"></i>
                    </div>
                    <div class="col-sm-10 col-xs-10">
                        <h4>We build Scalable Product</h4>
                        <p>We leverage all latest technology stacks to make your product stand out, more efficient and easily scalable. We approach in an elastic agile way of product engineering, which allows us to scale up & scale down easily</p>
                    </div>
                </div>
                <div class="full-section row">
                    <div class="col-sm-2 col-xs-2">
                        <i class="fa fa-file-code-o fa-3x"></i>
                    </div>
                    <div class="col-sm-10 col-xs-10">
                        <h4>Clean & Efficient Code</h4>
                        <p>Our developers are young, youthful and creative personalities. Hence they are very clear minded, so is their code. We are modern day Lean Product engineers, religiously believe in using least codes, with high efficiency. 
                        </p>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
                <div class="full-section row">
                    <div class="col-sm-2 col-xs-2">
                        <i class="fa fa-heart fa-3x"></i>
                    </div>
                    <div class="col-sm-10 col-xs-10">
                        <h4>Intuitive Product Experience Design</h4>
                        <p>We are self taught artists, passionate designers and innovative engineers, hence user experience is what we breathe and live with. So we build product in an user-business centric design sprint model.
                        </p>
                    </div>
                </div>
                <div class="full-section row">
                    <div class="col-sm-2 col-xs-2">
                        <i class="fa fa-lightbulb-o fa-3x"></i>
                    </div>
                    <div class="col-sm-10 col-xs-10">
                        <h4>Help Strategise Business Growth</h4>
                        <p>Our in-house mentors are creative directors, business consultants, digital marketers and spiritual practitioners. Hence we are very observant with an eye for detail and a problem solver by heart.
                        </p>
                    </div>
                </div>
            </div>
            </div>
        </div>
</section>


<section class="top_companies">
    <div class="container">
        <div class="inner-sec">
            <h1>Read & get Inspired from our Resources</h1>
                <blogbox-component [blogbox]="blogbox"></blogbox-component>
        </div>
    </div>
</section>