<section class="top_companies">
    <div class="container">
        <div class="inner-sec">
            <h1>World's most widely used applications which have been built using <u>{{stackname}}</u></h1>
                <companybox-component></companybox-component>
        </div>
    </div>
</section>

<!-- <section class="heading single-line">
    <div class="container _dez34">
        <p class="section-heading wow fadeInUp">World's most widely used applications which have been using <u>{{stackname}}</u>
        </p>
    </div>
    <div class="container">
        <div class="services-row-1 ">
            <box-component [data]="data"></box-component>
        </div>
    </div>
</section> -->


<section class="left-blue-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 left-blue left-blue2">
                <h2>What kind of apps suits {{stackname}} Development?</h2>
                <p>{{stackname}} is the most successful Operating System today with a market share of about 75.4%. Services like OTT are booming the entertainment industry. Whereas, ecommerce application, food ordering apps, car or bike pulling applications made dependency on a day to day life. Out of 100 smartphones, 65 are working on {{stackname}} OS. That’s why {{stackname}} Development has set an enormous market. {{stackname}} app Developers of Dezigndia are experts in creating user-friendly {{stackname}} apps.
                </p>
            </div>
        </div>
    </div>
</section>
    
<section class="quote-btn-sec">
    <div class="container">
    <h1> Do you also want to build your Mobile app in {{stackname}}?</h1>
    <a class="quotebtn drift-open-chat" title="Get a Quote Now ">Get a Quote Now </a>
    </div>
</section>
    
<app-timeline [timeline]="timeline" [stackname]="stackname"></app-timeline>

<section class="php_build_projects">
    <div class="page-header">
        <h2>Our Mobile Applications Built on {{stackname}}</h2>
    </div>
    <div class="container">
            <card-box-component [portfolia]="portfolia"></card-box-component>
    </div>
</section>
    
<section class="services_section">
        <div class="page-header">
            <h2>Benefits of hiring dedicated {{stackname}} Developers from Dezigndia</h2>
        </div>
        <div class="container">
            <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
                <div class="full-section row">
                    <div class="col-sm-2 col-xs-2">
                        <img src="img/technologypages/serviceicon.png">
                    </div>
                    <div class="col-sm-10 col-xs-10">
                        <h4>Round the clock support</h4>
                        <p>Be assured of round the clock support; our {{stackname}} developers will address all the issues related to loading times and ensure efficient loading times.</p>
                    </div>
                </div>
                <div class="full-section row">
                    <div class="col-sm-2 col-xs-2">
                        <img src="img/technologypages/savemoneytime.png">
                    </div>
                    <div class="col-sm-10 col-xs-10">
                        <h4>Save time and money</h4>
                        <p>Hiring a dedicated {{stackname}} developer from Dezigndia is cost-effective. Our hiring model best suits startups and SMEs.
                        </p>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
                <div class="full-section row">
                    <div class="col-sm-2 col-xs-2">
                        <img src="img/technologypages/flexiblehiring.png">
                    </div>
                    <div class="col-sm-10 col-xs-10">
                        <h4>Flexible hiring</h4>
                        <p>It allows hiring {{stackname}} developers dedicatedly when you don’t want them to hire for full time. You can relieve them once the work is done or can increase and decrease your team size at any stage of the project.
                        </p>
                    </div>
                </div>
                <div class="full-section row">
                    <div class="col-sm-2 col-xs-2">
                        <img src="img/technologypages/clientstisfaction.png">
                    </div>
                    <div class="col-sm-10 col-xs-10">
                        <h4>100% client satisfaction</h4>
                        <p>Here, client satisfaction is the primary thing. If our client is not satisfied, we too are not satisfied.
                        </p>
                    </div>
                </div>
            </div>
            </div>
        </div>
</section>