<div id="blue-strip" class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
    <div class="container">
        <div class="blue-strip-heading
            text-center">
            <p>A Future-proof, intuitive design, with better engineering</p>
        </div>
        <div class="discuss-project-btn
            text-center">
            <button class="discuss-a-project
                solid-btn
                solid-white-btn
                button-shadow drift-open-chat">Talk to an Expert
                </button>
        </div>
    </div>
</div>
<footer class="_dezfooter">
    <div class="eb-footer">
        <div class="footer-top container">
            <div class="row" style="margin-bottom:10px">

                <!--Our Services-->
                <div class="list-section col-lg-3 col-md-6 col-sm-6">
                    <p class="footer-list-heading">Latest Technologies</p>
                    <ul class="footer-list">
                        <li><a href="#"> Scalable Angular Application</a></li>
                        <li><a href="#"> Flexible Android Development</a></li>
                        <li><a href="#"> Fastest React Development</a></li>
                        <li><a href="#"> React Native Development</a></li>
                        <li><a href="#"> Efficient Flutter Development</a></li>
                        <li><a href="#"> Scalable NodeJs Development</a></li>
                        <li><a href="#"> Data Science with Python</a></li>
                        <li><a href="#"> Social Networking with PHP</a></li>
                        <li><a href="#"> Power of MEAN & MERN Stack</a></li>
                        <li><a href="#"> Secured Full Stack with JAVA</a></li>
                       
                    </ul>
                </div>
                <div class="list-section col-lg-3 col-md-6 col-sm-6">
                    <p class="footer-list-heading">Software Solutions</p>
                    <ul class="footer-list">
                            <li><a href="#"> Customized CRM Portals</a></li>
                            <li><a href="#"> CMS using WordPress</a></li>
                            <li><a href="#"> Power of Blockchain</a></li>
                            <li><a href="#"> Recognition using ML</a></li>
                            <li><a href="#"> IOT platforms in NodeJs</a></li>
                            <li><a href="#"> Sales Dashboard in Angular</a></li>
                            <li><a href="#"> Project Management in PHP</a></li>
                            <li><a href="#"> Order Delivery Android App</a></li>
                            <li><a href="#"> Ride Sharing IOS App</a></li>
                            <li><a href="#"> Automation using AI</a></li>
                    </ul>
                </div>
                <!--Our Products-->
                <div class="list-section col-lg-3 col-md-6 col-sm-6">
                    <p class="footer-list-heading">Industries Experience</p>
                    <ul class="footer-list ">
                        <li>SAAS Product Solutions</li>
                        <li>Banking &amp; Finance</li>
                        <li>Restaurant &amp; Hotels</li>
                        <li>Booking &amp; Delivery</li>
                        <li>LMS &amp; eLearning</li>
                        <li>eCommerce &amp; Logistics</li>
                        <li>Ride Saring &amp; Carpool</li>
                        <li>Travel &amp; Tourism</li>
                    </ul>
                </div>

                <!--Our Events-->
               
                <!--Contact Us-->
                <div class="list-section contact-us col-lg-3 col-md-6 col-sm-12">
                    <div class="contact-us-wrapper">
                        <p class="footer-list-heading">Contact Us</p>
                        <p class="contact-info">
                            <span class="contact-title">Reach Us:</span>
                            <a class="contact-link" href="tel:+91-9123074815">
                                <span>India: </span> +91-9123074815
                            </a>
                            <a class="contact-link" href="tel:+91-9128619133">
                                <span>India: </span> +91-9128619133
                            </a>
                        </p>
                        <p class="contact-info">
                          <span class="contact-title">For Business: </span>
                          <a class="contact-link" href="mailto:connect@dezigndia.com">connect@dezigndia.com</a>
                        </p>
                        <p class="contact-info">
                          <span class="contact-title">Office:</span>
                          <span>Raheja Estate, Kulupwadi, Borivali East, Mumbai - 400066</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="social_media_wrapper social-media-spacing container">
            <!--Icons-->


            <!--Social Media Icons-->
            <div class="social-media-icons" style="margin-bottom:10px">
                <a href="{{social.mediaLink}}" target="_blank" rel="nofollow" *ngFor="let social of socialMedia"> 
                    <span data-wow-duration="1.5s" data-wow-delay="0.5s" class="icon-wrapper mr-2">
                        <img src="{{social.iconPath}}" alt="{{social.alt}}">
                    </span>
                </a>
            </div>
        </div>
        <!-- <div class="footer-divider"> -->

    </div>
    <div class="footer-bottom container">
        <div class="flex-wrapper">
            <div class="copyright">
                <p>Copyrights © 2020 Dezigndia | Crafted with Love ♡</p>
            </div>
            <div class="footer-menu">
                <ul class="footer-menu-list">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Our Works</a></li>
                    <li><a href="#">Our Process</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>